/*
 * vela-api
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 1.0.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package vealapi

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ _context.Context
)

// WebhookApiService WebhookApi service
type WebhookApiService service

// HandleApplicationWebhookOpts Optional parameters for the method 'HandleApplicationWebhook'
type HandleApplicationWebhookOpts struct {
    V1HandleApplicationTriggerWebhookRequest optional.Interface
}

/*
HandleApplicationWebhook handle application webhook request
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param token webhook token
 * @param optional nil or *HandleApplicationWebhookOpts - Optional Parameters:
 * @param "V1HandleApplicationTriggerWebhookRequest" (optional.Interface of V1HandleApplicationTriggerWebhookRequest) - 
@return V1ApplicationDeployResponse
*/
func (a *WebhookApiService) HandleApplicationWebhook(ctx _context.Context, token string, localVarOptionals *HandleApplicationWebhookOpts) (V1ApplicationDeployResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  V1ApplicationDeployResponse
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/v1/webhook/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", _neturl.QueryEscape(parameterToString(token, "")) , -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	if localVarOptionals != nil && localVarOptionals.V1HandleApplicationTriggerWebhookRequest.IsSet() {
		localVarOptionalV1HandleApplicationTriggerWebhookRequest, localVarOptionalV1HandleApplicationTriggerWebhookRequestok := localVarOptionals.V1HandleApplicationTriggerWebhookRequest.Value().(V1HandleApplicationTriggerWebhookRequest)
		if !localVarOptionalV1HandleApplicationTriggerWebhookRequestok {
			return localVarReturnValue, nil, reportError("v1HandleApplicationTriggerWebhookRequest should be V1HandleApplicationTriggerWebhookRequest")
		}
		localVarPostBody = &localVarOptionalV1HandleApplicationTriggerWebhookRequest
	}

	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(r)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v BcodeBcode
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
